@model Vehicle.Models.VehiclesViewModel
@{
    ViewData["Title"] = "Index";
    var currentPageParam = Context.Request.Query["page"].ToString();
    var sorting = Context.Request.Query["sort"].ToString();
    var currentPage = !string.IsNullOrEmpty(currentPageParam) ? int.Parse(currentPageParam) : 1;
}

<h1>Index</h1>
<a asp-controller="Vehicle" asp-action="Add">Add</a>
@using (Html.BeginForm("Index", "Student", new { page = currentPage }, FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
@if (sorting != "desc")
{
@Html.ActionLink("Sort by name descending", "Index", "Vehicle", new { page = currentPage, SearchString = ViewBag.CurrentFilter, sort = "desc" })
}
else
{
@Html.ActionLink("Sort by name ascending", "Index", "Vehicle", new { page = currentPage, SearchString = ViewBag.CurrentFilter, sort = "asc" })
}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th>Abrv</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Vehicles)
        {
            <tr>
                <td>@item.Id</td>

                <td>@item.Name</td>
                <td>@item.Abrv</td>
                <td><a asp-controller="Vehicle" asp-action="Delete" asp-route-id="@item.Id">Delete</a></td>
                <td><a asp-controller="Vehicle" asp-action="Edit" asp-route-id="@item.Id">Edit</a> </td>
            </tr>
        }

    </tbody>


</table>

<ul class="pagination">
    @{
        var startIndex = Math.Max(1, (int)currentPage - 10);
        var maxPage = Math.Floor(Model.Count / 10.0) + 1;
        for (int i = startIndex; i <= maxPage; i++)
        {
            <li class="page-item @((int)currentPage == i ? "active" : "")">

                @Html.ActionLink(i.ToString(), "Index", "Vehicle", new { page = i, SearchString = ViewBag.CurrentFilter }, new { @class = ("page-link ") })
            </li>
        }
    }
</ul>


